<header>
<div class="nav-container">
  <nav>
    <div class="left-menu nav-bar">
    <ul class="pager">
      <img class="logo">

      <li><a>Home</a></li>
      <li><a>News</a></li>
      <li><a>Contact</a></li>
      <li><a>About</a></li>
      <li><button>Login</button></li>
      <li><button>Register</button></li>
    </ul>

  </nav>
</div>
</header>
