<header>
  <nav>
    <div class="nav_bar_container">
      <span class="nav_logo_title bleed-left" ><img src="/images/logo_bubble.png" style= "width: 400px;"></span>
        <span id="write_a_new_tweet_container">
           <span class="nav-links">
             <a id="login">Login &nbsp; &nbsp;</a>
             <a id="signup">Sign up</a>
             <form class="topnav search-container"></form>
          </span>
        </span>

        <span class="flash-light"><img src="/images/glowing-flashlight.png" style= "width: 300px;" >
        </span>


    </div>
  </nav>
  <div class="navHeadSpace"></div>
</header>
