<header>
  <nav>
    <div class="nav_bar_container">
      <a href ="/" class="nav_logo_title" >
        <img src="/images/logo_bubble.png" style= "width: 400px;"></a>

           <span class="nav-links text-outline ">
             <a href="/categories/"><div class="categories"> categories<i class="fa-solid fa-code"></i></div></a>
             <a href="/user/<%- user[0] %>"><div class="username">My Resources<i class="fa-solid fa-code"></i></div></a>
             <a href="/login/logout"><div class="logout"> logout<i class="fa-solid fa-code"></i></div></a>
            </span>
             <!-- <a id="signup" href="/user">John Jane &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
             <a id="username"> Links</a> -->

            <span class="flash-light">
              <img src="/images/glowing-flashlight.png" style ="width: 400px;" >
          </span>
    </div>
  </nav>
</header>
<div class="navHeadSpace"></div>
