<header>
  <nav>
    <div class="nav_bar_container">
      <a href ="/" class="nav_logo_title bleed-left" >
        <img src="/images/logo_bubble.png" style= "width: 400px;"></a>
        <span id="write_a_new_tweet_container">
           <span class="nav-links">

             <a id="signup">John Jane &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
             <a id="username"> Links</a>

          </span>
        </span>

        <span class="flash-light"><img src="/images/glowing-flashlight.png" style ="width: 400px;" >
        </span>


    </div>
  </nav>
  <div class="navHeadSpace"></div>
</header>
