<header>
  <nav class="nav-bar">
    <ul class="pager">
      <li><button>Login</button></li>
      <li><button>Register</button></li>
      <li><a>Home</a></li>
      <li><a>News</a></li>
      <li><a>Contact</a></li>
      <li><a>About</a></li>
      <img class="logo">
    </ul>
  </nav>
</header>
