<header>
  <nav>
    <div class="nav_bar_container">
      <a href ="/" class="nav_logo_title" >
        <img src="/images/logo_bubble.png" style= "width: 400px;"></a>

           <span class="nav-links text-outline ">
             <a href="/categories/"><div class="categories"> categories<i class="fa-solid fa-code"></i></div></a>
             <a href="/register/"><div class="username">Register<i class="fa-solid fa-code"></i></div></a>
             <a href="/login/"><div class="logout"> login<i class="fa-solid fa-code"></i></div></a>
            </span>

            <span class="flash-light">
              <img src="/images/glowing-flashlight.png" style ="width: 400px;" >
          </span>
    </div>
  </nav>
</header>
<div class="navHeadSpace"></div>
