<header>
  <nav>
    <div class="nav_bar_container">
      <a href ="/" class="nav_logo_title" >
        <img src="/images/logo_bubble.png" style= "width: 400px;"></a>
           <span class="nav-links text-outline ">
             <a href="/categories/"><div class="categories"> categories<i class="fa-solid fa-code"></i></div></a>
             <a href="/register/"><div class="username">Register<i class="fa-solid fa-code"></i></div></a>
             <a href="/login/"><div class="logout"> login<i class="fa-solid fa-code"></i></div></a>
            </span>
            <span class="flash-light" id="btn-flash-light">
              <img src="/images/flash-light_v2/1.5x/flash-light@1.5x.png" style ="width: 400px;" >
          </span>
          <!-- Dialog Box-->
          <div class="Searchbox-container">
          <div class="dialog" id="searchform">
            <form method="POST" action="/categories/search">
              <div class="drop-down">
                <select id="search" name="search">
                  <option value="1">GIT</option>
                  <option value="2">VIM</option>
                  <option value="3">JAVASCRIPT</option>
                  <option value="4">HTML/CSS</option>
                  <option value="5">NODE.JS</option>
                  <option value="6">DATABASES</option>
                </select>
              </div>
              <!-- OK BUTTON -->
              <div align="center">
                <button type="submit" id="btnOK">OK</button>
              </div>
            </form>
          </div>
          <!-- end of form  -->
    </div>
  </div>
  </nav>
</header>
<div class="navHeadSpace"></div>
