<!DOCTYPE html>
<html lang="en">
<head>
  <title>username</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Outline&family=Bungee+Shade&family=Montserrat:wght@300;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

  <!-- Internal style sheets -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/resource-group.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main-layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/users-resource.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- May or may not populate owned resources -->
    <script type="text/javascript" src="/scripts/users_population.js"></script>
    <!-- Will 96% of the time populate saved resources as long as the user is user 1 -->
    <script type="text/javascript" src="/scripts/users_saved_population.js"></script>
</head>
<%- include('partials/_header.ejs') %>
<body>
  <div class="user-info">
    <img src="<%- user.profile_image%>">
    <a><%= user.name %></a>
    <a><%= user.email %></a>
  </div>
  <section class="owned-resources">
  </section>
  <section class="saved-resources">
  </section>
  <div class="wrapper div-center">
    <div class="item1">Item 1<div class="list-of-user-resouces">My saved resouces.</div></div>
    <div class="item2"></div>
    <div class="item3"></div>
    <div class="item4"> <div class="username-user-page">Oh hey, </br> </br> USERNAME</div></div>
  </div>

</body>
</html>
