.category-container {
  z-index: 1;
  position: relative;
  padding-top: 60px;
  padding-left: 60px;
}

/* container on the index.ejs */
.container {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5px;
  padding: 6rem;
  height: 5rem;
}

.container > div {
  border-radius: 5px;
}

.index-background-image {
  background-image: url("/images/dots.png");

}


.title-buffer {
  padding-top: 2rem;
  padding-bottom: 5rem;
  font-size: 5rem;
}

