.main-body {
  background-color: #f5f1f4;
  background-image: url("/images/main-background-dots/1.5x/smallArtboard 1@1.5x.png");
  background-size: cover;
  background-repeat: no-repeat;

}


a:link {
  color: yellow;
}
/* visited link */
a:visited {
  color: #00a651;
}
/* mouse over link */
a:hover {
  color: #57bfda;;
}
/* selected link */
a:active {
  color: #f61eb7;
}
