

.nav_bar_container {
  align-items: flex-start;
  background-color: #e4e7f2;
  display: flex;
  justify-content: space-between;
  max-height: 200px;
  position: fixed;
  width: 100%;
  z-index: 8;
  margin: 0;
  padding: 0;
}

.nav_logo_title {
  transform: rotate(-20deg);
  margin: -55px;
  overflow-y: hidden;
}

.flash-light {
  transform: rotate(180deg);
  margin: -20px;
  margin: -20px;
  z-index: 4;
}

.navHeadSpace {
  height: 250px;
}

.nav-links {
  display: flex;
  font-family: Bungee;
  align-self: center;
}


.username {
  color: #00a651;
  font-size: 55px !important;
}
.username:hover {
  color: #57bfda;
}

.categories {
  color: mediumslateblue;
  font-size: 55px!important;

}
.categories:hover {
  color: #ff0d19;
}

.logout {
  color: #f61eb7;
  font-size: 55px !important;
}
.logout:hover {
  color: white;
}

.text-outline {
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}


.fa-solid {
  font-size: large;
}
