
.form-container {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 40%;
  margin: -25px 0 0 -25px;

}




.dialog{
  border:5px solid rgb(0, 0, 0);
  background: mediumspringgreen;
  padding: 100px;
  position:absolute;
  display:none;
}
.dialog label{
  display:inline-block;
  color:#000000;
}
input[type=text]{
  font-family: 'Comic Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  border:5px solid rgb(0, 0, 0);
  display:center;
  margin:5px;
}
.drop-down{
  font-family: 'Comic Neue', sans-serif;
  font-weight: 400;
  font-size: 24px;
  border:5px solid rgb(0, 0, 0);
  display:center;
  margin:5px;
}
#btnOK{
  border:1px solid #000;
  background:#ff9999;
  margin:5px;
  font-family: Bungee;
  font-size: 50px;
}

#btnOK:hover{
  border:1px solid #000;
  background: red;
}

.button{
  position:fixed;
  right:20px;
  bottom:20px;
  cursor:pointer;
  width:100px;
  height:100px;
  background-color: red;
  text-indent:-9999px;
  /* display:none; */
  border-radius:50%;
}
.button:hover{
  /* background:#a4a9fd; */
  background-color:#fa5a5a;
  opacity:1;
}
