.wrapper {
  padding-top: 170px;
  padding-bottom: 250px;
  display: grid;
  grid-template-columns: repeat(10, 18em);
  grid-template-rows: repeat(10, 12rem);
  height: 80rem;
  width: 80rem;
  gap: 10px;
  /* background-color: tomato; */
  grid-template-areas:
    "d d c b"
    "a a a b"
    "a a a f"
    "a a a e";
}
.title {
  font-size: 3rem;
  color: rgb(240, 0, 40);
  /* margin-left: 11rem; */
  font-family: Bungee;
}

.item1 {
  grid-area: a;
  /* background-color: #ffff; */
  border-style: solid;
  border-color: 2px rgb(0, 0, 0);
  background-color: rgb(192, 218, 150);
  padding: 45px;

}
/* username */
.item2 {
  grid-area: b;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-image: url("/images/orange.png");
  background-position: left;
  background-color: #e61b1b;
}
/* profile photo */
.item3 {
  grid-area: c;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: pink;
  background-image: url("/images/ico_vrouw_popart.png");
  background-repeat: no-repeat;
  background-position: center;
}
/* photo */
.item4 {
  grid-area: d;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: turquoise;
  background-image:  url("/images/square-speech/0.5x/smallArtboard 10.5.png");
  background-size: 260px;
  background-position: center;
}
.item5 {
  grid-area: e;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: red;
  background-image: url("/images/yellow-pop-can-md.png");
}
.item6 {
  grid-area: f;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(64, 77, 224);
}


.username-user-page {
  padding-top: 2rem;
  font-family: Bungee;
  font-weight: 400;
  padding-left: 8%;
  font-size: 34px;
  color: rgb(156, 232, 5);
  align-self: baseline;
}

.list-of-user-resouces {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 400;
  padding-left: 8%;
  font-size: 34px;
  color: black;
}

.div-center{
  position: absolute;
  top: 25%;
  left: 30%;
  margin-top: -50px;
  margin-left: -250px;
  margin-right: 20px;

}

.style-owned-resources {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 400;
  color: black;
  padding-left: 8%;
  font-size: 18px;
}
.style-saved-resources {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 400;
  padding-left: 8%;
  font-size: 18px;
}

.resource-title {
  font-family: Bungee;
  color: rgb(232, 5, 5);
  font-size: 22px;
}

.resource-description {
  color: black;
  font-size: 22px;
}

.resource-url-link {
  font-family: Bungee;
  color: rgb(232, 5, 224);
  font-size: 22px;
}
