.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 20em);
  grid-template-rows: repeat(5, 25rem);
  height: 80rem;
  width: 80rem;
  gap: 10px;
  /* background-color: tomato; */
  grid-template-areas:
    "a a a b"
    "a a a b"
    "d d c b";
}
.item1 {
  grid-area: a;
  /* background-color: #ffff; */
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: rgb(192, 218, 150);

}
/* username */
.item2 {
  grid-area: b;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-image: url("/images/orange.png");
  background-color: #e61b1b;
}
/* profile photo */
.item3 {
  grid-area: c;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: pink;
  background-image: url("/images/ico_vrouw_popart.png");
  background-repeat: no-repeat;
  background-position: center;
}
/* photo */
.item4 {
  grid-area: d;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: turquoise;
}

.username-user-page {
  padding-top: 2rem;
  font-family: Bungee;
  font-weight: 400;
  padding-left: 8%;
  font-size: 34px;
  color: rgb(156, 232, 5);
  align-self: baseline;
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.list-of-user-resouces {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 400;
  padding-left: 8%;
  font-size: 34px;
  color: black;
}

.div-center{
  position: absolute;
  top: 25%;
  left: 30%;
  margin-top: -50px;
  margin-left: -250px;
  margin-right: 20px;

}

.style-owned-resources {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 400;
  padding-left: 8%;
  font-size: 12px;
}
.style-saved-resources {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 400;
  padding-left: 8%;
  font-size: 12px;
}
